<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="example.safe_doctor_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera2" android:required="true"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        tools:replace="@android:icon,android:label"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".GlobalActivity">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home_Page"
            android:label="@string/title_activity_home__page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Doctors_Page"
            android:label="@string/title_activity_doctors__page"
            android:parentActivityName=".Home_Page"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="example.safe_doctor_app.Home_Page" />
        </activity>
        <activity
            android:name=".Drugs_Page"
            android:label="@string/title_activity_drugs__page"
            android:parentActivityName=".Home_Page"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="example.safe_doctor_app.Home_Page" />
        </activity>
        <activity
            android:name=".Cases_Page"
            android:label="@string/title_activity_cases__page"
            android:parentActivityName=".Home_Page"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="example.safe_doctor_app.Home_Page" />
        </activity>
    </application>

</manifest>